.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#parent{ position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  background-color: rgb(255,73,87);
  text-align: center;
  border-radius: 10px;
 }
 
 /* Style for the list container */
#list {
  display: flex;
  list-style-type: disc; 
  background-color: bisque;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  padding: 15px;
  justify-content: space-between;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  margin-left: -15%;
  /* Use flexbox to align items in a row */
  align-items: center; /* Align items vertically centered */
  margin-bottom: 10px; /* Add some space below each list item */
}

/* Style for list items */
li {
  display: flex; /* Use flexbox for list items */
  /* align-items: center;  */
  margin-right: 15px; /* Add some space between item name and buttons */
}
#item-details {
  flex: 1;
  margin-left: 20px; /* Take up remaining space between the item name and buttons */
}
#manage {
   margin-left: 70px; 
   margin-right: -40px;

  display: flex; /* Align buttons in a row */
  justify-content: flex-end;
}
/* Style for the buttons container */
#list > div {
  margin-left: auto; /* Push buttons to the far right */
}
#subtract{
  color: red;
}
/* Style for individual buttons */
button {
  margin-left: 5px; /* Add some space between buttons */
  padding: 5px 10px; /* Add padding to buttons */
  border: none; /* Remove default button border */
  background-color: #007bff; /* Button background color */
  color: white; /* Button text color */
  cursor: pointer; /* Change cursor to pointer on hover */
  border-radius: 3px; /* Rounded corners for buttons */
  font-size: 16px; /* Font size for buttons */
}

/* Add hover effect for buttons */
button:hover {
  background-color: #0056b3; /* Darker background on hover */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
